<!DOCTYPE html>
<html lang="en-uk">

  <head>
    <title>Vote on Poll</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
  </head>

  <body>

    <a href="{% url 'polls:index' %}">Back to all polls</a>

    <form action="{% url 'polls:vote' question.id %}" method="POST">
      {% csrf_token %}
      <fieldset>
        <legend><h2>{{ question.question_text }}</h2></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
          <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
          <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
      </fieldset>
      <input type="submit" value="Vote">
    </form>

    <p></p>
    <a href="{% url 'polls:votes' %}">My votes</a>
    <p></p>
    <a href="{% url 'polls:logout' %}">Log out</a>

  </body>

</html>
